[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "lib/pancake-swap-periphery"]
	path = lib/pancake-swap-periphery
	url = https://github.com/pancakeswap/pancake-swap-periphery
